.chat-room {
  display: flex;
}

.chat {
  width: 50%;
  min-height: 65vh;
  max-height: 65vh;
  overflow: scroll;
  border: 2px solid black;
  position: relative;
}

.chat > div:nth-child(odd) {
  background-color: #dddddd;
}

.message-content > span {
  padding: 0.4rem 1rem;
}

.typing {
  position: absolute;
  bottom: 0;
  color: rebeccapurple;
}

.users-online {
  width: 25%;
  min-height: 65vh;
  max-height: 65vh;
  overflow: scroll;
  border: 2px solid black;
}
